In [6]:
risultati=[]#ho creato la oggetto in cui metterò le mie liste
#creo la mia lista
lista_ah=list(range(1,11,))
lista_ah

##quadrati 
for n in lista_ah:
    #quadrato=(n**2)
    #print(n**2)
    risultati.append(n**2)#inserisco nell'oggetto grazie ad append la variabile 

print(risultati) #stampo l'oggetto

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
risultati2=[n**2 for n in range(1,11)]
print (risultati2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
risultati3=[n**3 for n in range(1,11)]
print(risultati3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [16]:
eta=15
if eta>5:
    print('elementare')
elif eta>11:
    print('medie')
elif  eta>14:
    print('superiori')
else:
    print('asilo')

elementare

In [24]:
eta=18
patente= True
if eta>=18 and patente==True:
    print('ok')
elif eta>=18 and patente==False:
    print('non hai la patente')
else:
    print('non puoi avere la patente')

ok

In [28]:
eta= input('quanti anni hai?')
print('hai '+eta)

hai 455

In [31]:
eta= int(input('quanti anni hai?'))
if eta>=18:
    print('puoi patentarti')
else:
    print('non puoi patentarti')

non puoi patentarti

In [4]:
nome=input('come ti chiami?')
eta= int(input('quanti anni hai?'))
patentato=input()
if eta>=18 and patentato=='si':
    print(nome +' hai la patente')
else:
    print(nome +' non puoi patentarti')

ahahhaahah puoi patentarti

In [7]:
while True:
    numero= int(input('inserisci un numero'))
    if numero>=100:
        print('il numero inserito è ',numero)
        break

il numero inserito è  245

In [3]:
while True:
    vocali= input('inserisci una vocale')
    if vocali in ['a' , 'e' , 'i' , 'o', 'u']:
        print ('la tua lettera è ', vocali)
        break

la tua lettera è  o

In [5]:
def prove():
    print('ciao')
    print('fai')
    print('tu')
    prove()

In [14]:
def somma_numeri(a,b,c):
    print('somma di tre numeri:')
    risultato = a+b+c
    print('il risultato è '+str(risultato))

In [ ]:
somma_numeri(1,2,3)

In [1]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(667)#il seed serve a controllare l'effetto random
mydata =np.random.randint(0,101,(4,3))

In [5]:
mydata

array([[ 85,  15,  89],
       [100,   3,  90],
       [  2,  64,   0],
       [ 36,  99,  47]])

In [6]:
myindex =['CA','NY','AZ','TX']

In [7]:
mycolumns=['Jan','Feb','Mar']

In [9]:
df= pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)
df#data frame

    Jan  Feb  Mar
CA   85   15   89
NY  100    3   90
AZ    2   64    0
TX   36   99   47